pandas~=1.5.2  # Using ~ allows for bugfix and patch releases while staying within major version 1.5
scikit-learn~=1.1.3
xgboost~=1.7.1
fastapi ~= 0.104.1
matplotlib~=3.6.2
seaborn~=0.12.1
uvicorn~=0.27.0.post1